{{>partials/header}}

{{#banner}}
    <section class="banner" style="background-image: url('images/{{banner.background}}')">
        {{banner.title}}
    </section>
    <h2>{{banner.title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
    {{#pets}}
        {{>partials/pet}}
    {{/pets}}
</div>

{{>partials/footer}}