{{>partials/header}}

{{#banner}}
    <section class="banner" style="background-image: url('images/{{banner.background}}')">
        {{banner.title}}
    </section>
    <h2>{{banner.title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
    {{#pets}}
        {{>partials/pet}}
    {{/pets}}
</div>

{{^pets}}
    <div class="container no-list">
        <h2> Não há animais disponíveis nessas condições </h2>
    </div>
{{/pets}}

{{>partials/footer}}